version: 2.1

orbs:
  rok8s-scripts: fairwinds/rok8s-scripts@11

executors:
  golang-exec:
    docker:
      - image: circleci/golang:1.14-stretch

references:
  install_goreleaser: &install_goreleaser
    run:
      name: Install GoReleaser
      command: |
        curl -fsSLo goreleaser.deb https://github.com/goreleaser/goreleaser/releases/download/v0.131.1/goreleaser_amd64.deb
        echo "640790dcbfa864f26de4c26c2d491f293a64525c8c6641c5bbdec7136b38977e goreleaser.deb" | sha256sum -c -
        sudo dpkg -i goreleaser.deb
        rm goreleaser.deb
  e2e_config: &e2e_config
    command_runner_image: quay.io/reactiveops/ci-images:v11-stretch
    kind_node_image: "kindest/node:v1.18.0@sha256:0e20578828edd939d25eb98496a685c76c98d54084932f76069f886ec315d694"
    executor: golang-exec
    pre_script: e2e/pre.sh
    store-test-results: /tmp/test-results
    script: e2e/test.sh
    requires:
      - test
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/

jobs:
  test:
    working_directory: /go/src/github.com/fairwindsops/pluto

    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go mod download && go mod verify
      - run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
      - run: bash <(curl -s https://codecov.io/bash)

  release_binary:
    working_directory: /go/src/github.com/fairwindsops/pluto
    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go mod download && go mod verify
      - *install_goreleaser
      - run: goreleaser

workflows:
  version: 2

  test:
    jobs:
      - test
      - rok8s-scripts/docker_build_and_push:
          name: build-container
          docker-push: false
          enable_docker_layer_caching: true
          config_file: .circleci/build.config
          password-variable: "fairwinds_quay_token"
          requires:
            - test
          filters:
            branches:
              only: /pull\/[0-9]+/
      - rok8s-scripts/docker_build_and_push:
          name: build-and-push-container
          docker-push: true
          enable_docker_layer_caching: true
          config_file: .circleci/build.config
          context: org-global
          docker-login: true
          password-variable: "fairwinds_quay_token"
          registry: quay.io
          username: fairwinds+circleci
          requires:
            - test
          filters:
            branches:
              ignore: /pull\/[0-9]+/

  release:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
      - rok8s-scripts/kubernetes_e2e_tests:
          name: run functional tests
          <<: *e2e_config
      - release_binary:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
      - release_images:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
